# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so

# Virtual environments
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Editors / IDEs
# -----------------------
.idea/
.vscode/

# -----------------------
# Environment variables
# -----------------------
.env
*.env

# -----------------------
# Logs & temp
# -----------------------
*.log
*.tmp

# -----------------------
# Database dumps / backups
# (если понадобится экспортировать — лучше в releases)
# -----------------------
*.dump
*.backup

# -----------------------
# ER-diagrams exports
# (хранить можно только исходники моделей, экспорт — лишний вес)
# -----------------------
*.png
*.svg
*.drawio

# -----------------------
# Docker
# -----------------------
docker-data/
*.pid
